@using StudentManagement.Models
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model StudentManagement.Models.Subject
@using System.Linq;
@{
    Subject subject = ViewBag.Subject;
    Feedback feedback = ViewBag.feedback;
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<body>
    <h2>Edit Comment</h2>
    <form asp-controller="Student" asp-action="EditInfoComment">
        <input type="hidden" name="subjectId" value="@feedback.SubjectId"/>
        <input type="hidden" name="lecturerId" value="@feedback.LectureId"/>
        <div>
        <span>Comment:</span>
        <textarea style="width:400px;height:100px;text-align:left" name="comment">
            @ViewBag.feedback.Comment
        </textarea>
        </div>
        <div>
            <button onclick="this.form.submit()">Edit Comment</button>
        </div>
    </form>
</body>
