@using StudentManagement.Models
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model StudentManagement.Models.Schedule
@using System.Linq;
@using System.Globalization
@{
    Dictionary<int, Dictionary<string, Schedule>> map = ViewBag.TimeTable;
    List<StudentAttended> list = ViewBag.StudentAttendance;
    int check = 0;
    student_managementContext context = new student_managementContext();
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div>
    Action:
    <button type="button" onclick="location.href='/Student/TimeTable'" class="btn btn-secondary">TimeTable</button>
    <button type="button" onclick="location.href='/Student/FeedBack'" class="btn btn-info">FeedBack</button>
</div>