@using StudentManagement
@using StudentManagement.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*
*@
@{

    <div>
        <h3>Course</h3>
        <ul>
            <form>
                @foreach (Subject s in @ViewBag.listSubject)
                {
                <li>
                    <a asp-controller="ViewAttendance" asp-action="ViewAttendanceDetail" asp-route-subjectId="@s.SubjectId">@s.SubjectName (@s.SubjectCode)</a>
                </li>
                }
            </form>
        </ul>
    </div>

}